install:
  - sudo apt-get install jq

services:
  - docker

branches:
  only:
    - master

script: docker run -it -e "APPLICATION_ID=${APPLICATION_ID}" -e "API_KEY=${API_KEY}" -e "CONFIG=$(cat .pegasus-kv.json | jq -r tostring)" algolia/docsearch-scraper
