<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico">
    <link rel="stylesheet" href="/asset/css/utilities.min.css">
    <link rel="stylesheet" href="/asset/css/docsearch.min.css" />
    <script src="/asset/js/jquery.min.js"></script>
    <script src="/asset/js/all.min.js"></script>
    {% seo %}
    {%- if site.google_analytics -%}
    {%- include google-analytics.html -%}
    {%- endif -%}
</head>
