@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Patua+One);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono);

$primary: #188eac !default;
$info: #419eda;
$black: hsl(0, 0%, 0%);
$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;
$navbar-height: 4.0rem;

$input-placeholder-color: hsl(0, 0%, 86%);

@import "../node_modules/bulma/bulma.sass";
@import "layout";
@import "syntax"