@charset "utf-8";

// for apache pegasus title
// Patua One
@font-face {
  font-family: 'Patua One';
  src: url(/assets/fonts/PatuaOne-Regular.ttf)
}

// Ubuntu Mono
@font-face {
  font-family: 'Ubuntu Mono';
  src: url(/assets/fonts/UbuntuMono-Regular.ttf)
}

// Titillium Web
@font-face {
  font-family: 'Titillium Web';
  src: url(/assets/fonts/TitilliumWeb-Regular.ttf)
}

$primary: #188eac !default;
$info: #419eda;
$black: hsl(0, 0%, 0%);
$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;
$navbar-height: 4.0rem;
$family-sans-serif: "Titillium Web";

$input-placeholder-color: hsl(0, 0%, 50%);

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-dashboard/src/bulma-dashboard.sass";
@import "layout";
@import "syntax";