<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-multiline">
                    <div class="column is-full">
                        <img src="/assets/images/pegasus-logo-inv.png">
                    </div>

                    <div class="column is-full">
                        <p class="title is-size-1 text-red-600"><strong>404</strong></p>
                        <p class="subtitle pt-3 is-size-4">This page is not the page you are looking for.</p>
                    </div>

                    <div class="column is-full">
                        <ul>
                            <li class="pb-3 is-size-5">
                                <a href="/">Pegasus Home Page</a>
                            </li>
                            <li class="is-size-5">
                                <a href="/docs">Pegasus Documentation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </section>
</body>

</html>