<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-one-fourth">
                    {% if page.menubar %}
                    {% include menubar.html %}
                    {% endif %}
                </div>
                <div class="column is-half">
                    {% include tabs.html %}
                    {{ content }}
                </div>
                <div class="column is-one-fourth is-hidden-mobile" style="padding-left: 3rem">
                    {% if page.toc %}
                    {% include toc.html html=content class="menu-list" sanitize=true %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% include footer.html %}
    <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
  </body>
</html>
