<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    {% if page.front == true %}
        {% include hero-front.html %}
    {% endif %}
    {% if page.front == false %}
        {% include hero-page.html %}
    {% endif %}
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% if page.menubar %}
                <div class="column is-3-desktop is-3-tablet">
                    {% include menubar.html %}
                </div>
                {% endif %}
                <div class="column">
                    {% include tabs.html %}
                    {{ content }}
                </div>
                {% if site.posts and page.show_sidebar %}
                <div class="column is-4-desktop is-12-tablet">
                    {% include latest-posts.html %}
                </div>
                {% endif %}
                {% if page.toc %}
                <div class="column is-2-desktop is-4-tablet is-hidden-mobile">
                    <p class="menu-label">本页导航</p>
                    {% toc %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% include footer.html %}
    <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
  </body>
</html>
